
    :root {
        --yellow-colour: #ccc121
    }

    :root {
        --darkblue-colour: #161f32
    }

    body {
        background-color: black;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .topNavBar {
        position: fixed;
        height: 7.5vh;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgb(0, 0, 0);
        color: magenta;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*TOP NAVIGATION BAR */


    /*TOP NAV BAR */
        
    .overviewContainer {
        position: relative;    
        left: 0;
        width: 100vw;
        height: 93.75vh;
        z-index: 0;
        top: 7.5vh;
        background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ekko_0.jpg);
        background-size: cover;
        background-position: center top 70%;
        background-color: gray; /*fallback colour */
    }

    .abilitiesContainer {
        position: relative;
        left: 0;
        height: 80vh;
        width: 100vw;
        z-index: 0;
        background-color: var(--darkblue-colour);
    }

    .skinsContainer {
        display: grid;
        place-items: center;
        position: relative;
        left: 0;
        width: 100vw;
        height: 135vh;
        z-index: 0;
        background-color: whitesmoke;
    }

    .infoContainer {
        position: relative;
        left: 0;
        height: 55vh;
        width: 100vw;
        z-index: 0;
        background-color: black;
    }
    
    h1 {
        color: var(--yellow-colour);
        font-size: 30px;
        position: absolute;
        font-weight: 1000;
        font-style: italic; 
        top: 20%;
        left: 10%;
        z-index: 1;
    }

    h2 {
        color: white;
        font-size: 100px;
        position: absolute;
        font-weight: 1000;
        font-style: italic; 
        top: 25%;
        left: 10%;
        z-index: 1;
    }

    .description {
        color: white;
        font-size: 18px;
        position: absolute;
        font-weight: 10;
        font-style: italic; 
        top: 37.5%;
        left: 10%;
        width: 35%;
        z-index: 1;
    }

    /* square box bits */
    .squareBox {
        display: grid;
        place-items: center;
        width: 7%;
        aspect-ratio: 1;
        position: absolute;
        color: rgba(0, 0, 0, 0);
        border: 2px solid var(--yellow-colour);
    }

    .squareBox-1 { top: 50%; left: 10%; }
    .squareBox-2 { top: 50%; left: 18%; }

    .darkBlueBox {
        display: grid;
        width: 85%;
        aspect-ratio: 1;
        position: absolute;
        background-color: var(--darkblue-colour);
        grid-template-rows: 15% 40% 15% 15% 15%;
    }

    .boxItem {
        display: grid;
        place-items: center;
        background-color: rgba(0, 255, 255, 0);
        align-items: center;
        color: white;
        font-size: 10px;
    }


    .text-container {
        text-align: center; /* Center the text inside the container */
        line-height: 175%
    }

    .roleImages {
        width: 35%;
        aspect-ratio: 1;
        position: absolute
    }

    .roleImages-1 { left: 13%; }
    .roleImages-2 { right: 13%; }

    /* square box bits */

    /*yellow line at the bottom */

    .line {
        height: 0.15%; /* Thickness of the line */
        width: 37.5%;
        position: absolute;
        background-color: var(--yellow-colour); /* Color of the line */
        margin: 10px 0; /* Spacing above and below the line */
        left: 10%;
        top: 80%;
    }

    .linksTextBelowLineContainer {
        display: flex;
        gap: 25px;
        color: white;
        position: absolute;
        top: 82.5%;
        left: 10%;
        width: 35%;
        z-index: 1;
    }

    .linksTextBelowLineContainer a {
        font-size: 10px;
        font-weight: 10;
        color: white;
        text-decoration: none;
    }

    .linksTextBelowLineContainer a:hover {
        text-decoration: underline; 
    }
    
    /*yellow line at the bottom */


    /*ABILITIES SECTION */

    .abilityOverviewContainer {
        display: grid;
        place-items: center;
        position: relative;
        height: 40%;
        aspect-ratio: 2;
        z-index: 1;
        left: 12.5%;
        top: 20%;
        background-color: rgba(255, 0, 255, 0);
    }

    .abilityIconContainer {
        display: grid; 
        position: absolute;
        top: 55%;
        grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
        grid-template-rows: repeat(2, 75px);
        column-gap: 5px; 
        row-gap: 20px;
    }

    .abilityIconContainer img {
        width: 10%;
        aspect-ratio: 1;
        position: absolute;
        transition: transform 0.3s;
    }

    .abilityIconContainer img:hover {
        transform: scale(1.2);
    }


    .abilityBox {
        display: grid;
        place-items: center;
        background-color: rgba(0, 255, 255, 0);
        align-items: center;
        color: white;
        font-size: 10px;
    }


    .abilityBoxName {
        background-color: rgba(0, 255, 255, 0);
        text-align: center;
        color: white;
        font-size: 12.5px;
        font-weight: bold;
    }


    .abilityGifContainer {
        display: grid;
        place-items: center;
        position: absolute;
        height: 60%;
        width: 650px;
        z-index: 1;
        left: 52.5%;
        top: 10%;
        border: 1px solid var(--yellow-colour);
        background-color: rgba(255, 0, 255, 0);
    }

    video {
        width: 115%;
        aspect-ratio: 2;
    }

    .abilityDescriptionContainer {
        display: grid;
        place-items: center;
        position: absolute;
        height: 20%;
        width: 650px;
        z-index: 2;
        left: 52.5%;
        top: 72.5%;
        background-color: rgba(0, 0, 0, 0);
    }

    /*ABILITIES SECTION */

    /*SKINS SECTION */
    .bigSkinDisplay {
        display: grid;
        place-items: center;
        position: absolute;
        height: 67.5%;
        width: 1500px;
        z-index: 1;
        top: 10%;
        background-color: rgba(255, 0, 255, 0);
    }

    .bigSkinDisplay img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .skinOptionsContainer {
        display: grid;
        align-items: start;
        justify-items: center;
        overflow-x: auto;
        position: relative;
        height: 12.5%;
        width: 1200px;
        z-index: 1;
        top: 35%;
        background-color: rgba(81, 255, 0, 0);

        grid-template-columns: repeat(12, 1fr); /* 5 equal columns */
    }
    
    .carousel-track {
        display: flex;
        transition: transform 0.5s ease;
    }

    .skinCard {
        width: 100%;
        height: auto;
        grid-template-rows: 1fr 0.01fr;
        z-index: 2;
    }

    .skinCard img {
        max-width: 90%; /* Ensure the image doesn't exceed the container */
        height: auto;
    }

    .lineButton {
        display: grid;
        align-items: center;
        justify-items: center;
        position: absolute;
        height: 50px;
        width: 1250px;
        z-index: 2;
        top: 91%;
        background-color: rgba(255, 0, 0, 0);
        grid-template-columns: 0.9fr 0.05fr 0.05fr;
    }

    .lineButton img {
        max-width: 40%;
        max-height: auto;
    }

    .lineSlot {
        grid-column: 1;
    }

    .progress {
        grid-column: 1; /* Position progress bar in the first column */
        width: 95%;
        background-color: #000000; /* Background color of the progress bar */
        height: 2.5px; /* Height of the progress bar */
        border-radius: 1.25px; /* Rounded corners */
    }

    /*SKINS SECTION */


    /*LAST SECTION */

    .bottomNavBar {
        display: grid;
        place-items: center;
        position: absolute;
        height: 15%;
        width: 100%;
        z-index: 2;
        background-color: rgb(46, 46, 46)
        
    }

    .buttonGrid {
        position: absolute;
        width: 70%;
        height: 100%;
        z-index: 3;
        display: grid;
        grid-template-columns: 1.5fr repeat(5, 1fr) 2.5fr; 
        place-items: center;
        background-color: rgba(255, 0, 0, 0);
    }

    .common-anchors {
        color: white;
        font-size: 13px;
        text-decoration: none;
        font-weight: bolder;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
        cursor: pointer;
        user-select: none;    
    }

    .common-anchors:hover {
        background-color: gray;
    }

    .informationGrid {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 0.45fr 0.2fr 0.15fr 0.2fr 0.4fr;
        place-items: center;
    }

    .informationGrid-row {
        /*display: contents; */
        height: 100%;
    }

    .row1 {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 255, 0);
    }

    .row2 {
        display: flex;
        width: 10%;
        justify-content: center;
        background-color: rgba(255, 0, 119, 0);
    }

    .row3 {
        width: 35%;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 255, 106, 0);
    }

    .row4 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 0, 0, 0);
    }

    .row5 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        background-color: rgba(251, 255, 0, 0);
    }

    .socialMediaButton {
        position: relative;
        top: 22.5%;
    }
    
    /*LAST SECTION */
 